.img{
    padding-top: 5px;  
    padding-left: 40%; 
    padding-right: 40%;
    height: 80%;    
  }
  
  .img2{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    padding-top: 5px;
    margin-left: 58px;
    height: auto;
    width: 200px;
    background: white;
  }

  .img3{
    padding-top: 5%;  
    border-radius: 10%;

  }