<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img  class="img2" src="https://img2.freepng.es/20180621/rov/kisspng-duoc-uc-logo-concepcin-central-academy-of-fine-a-duoc-5b2b29e55de220.5957473915295554293846.jpg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mat-card class="cardpadding">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title id="palabra">Iniciar Sesion </mat-card-title>
    </mat-card-header>
    <div mat-card-image></div>
    <mat-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" >Usuario</ion-label>
            <ion-input type="text" placeholder="Nombre De Usuario"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" >Contraseña</ion-label>
            <ion-input type="password" placeholder="Contraseña"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </mat-card-content>
    <mat-card-actions >
      <button mat-flat-button  id="yellow">Ingresar</button>
    </mat-card-actions>
  </mat-card>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
      <img class="img" src="https://lh3.googleusercontent.com/proxy/0OsA-LeBNjw1bKaq-P1w1HEzT2GZ6FtxsZwE35m4wiDCiIPPlum7tTsXoWIjHmz4bxjF5lHEmwZynAVx6oBhGvC3JmzSkLIHgP1QrQ" alt="">
  </ion-toolbar>
</ion-footer>
