<app-header >
  
</app-header>  
<ion-buttons slot="start" disabled='true' autoHide='true' style="display:none" >
  <ion-menu-button disabled='true' menu="main-menu"></ion-menu-button>
</ion-buttons>
<ion-content [fullscreen]="true">

  <mat-card class="cardpadding">
    <mat-card-header>
      <!--<div mat-card-avatar></div> -->
      <mat-card-title id="palabra">Iniciar Sesion</mat-card-title>
    </mat-card-header>
     <!--<div mat-card-image></div>-->
    <mat-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" >Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="user.userName" placeholder="Nombre De Usuario"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" >Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="user.password" placeholder="Contraseña"></ion-input>            
          </ion-item>
        </ion-col>
      </ion-row>
    </mat-card-content>     
  </mat-card>
  <ion-row>
    <ion-col>      
      <button mat-flat-button id="yellow" (click)="ingresar()">Ingresar</button>      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>      
      <button mat-flat-button id="yellow" (click)="registro()">Nuevo usuario</button>      
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-end">
    <ion-col size="12">      
      <a mat-stroked-button color="primary" (click)="recuperar()"  routerLinkActive="router-link-active" target="_blank">¿Olivaste tu contraseña?</a>   
    </ion-col>
  </ion-row> 
  <a mat-stroked-button color="red" (click)="Info()"  routerLinkActive="router-link-active" target="_blank">Informacion</a>
  <a mat-stroked-button color="blue" *ngFor="let nume of num"  routerLinkActive="router-link-active" target="_blank">+56 {{nume.Numero}} </a>
</ion-content> 

<app-footer></app-footer>
