<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img  class="img2" src="https://img2.freepng.es/20180621/rov/kisspng-duoc-uc-logo-concepcin-central-academy-of-fine-a-duoc-5b2b29e55de220.5957473915295554293846.jpg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mat-card class="cardpadding">
    <mat-card-header>
      <!--<div mat-card-avatar></div> -->
      <mat-card-title id="palabra">Iniciar Sesion</mat-card-title>
    </mat-card-header>
     <!--<div mat-card-image></div>-->
    <mat-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" >Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="user.userName" placeholder="Nombre De Usuario"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" >Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="user.password" placeholder="Contraseña"></ion-input>            
          </ion-item>
        </ion-col>
      </ion-row>
    </mat-card-content>     
  </mat-card>
  <ion-row>
    <ion-col>      
      <button mat-flat-button id="yellow" (click)="ingresar()">Ingresar</button>      
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-end">
    <ion-col size="12">      
      <a mat-stroked-button color="primary" href="https://www.google.com/" target="_blank">¿Olivaste tu contraseña?</a>   
    </ion-col>
  </ion-row>    
</ion-content>
<ion-footer [fullscreen]="true">
  <ion-toolbar>
      <img class="img" src="http://www2.duoc.cl/proveedores/img/acreditado_1.jpg" alt="">
  </ion-toolbar>
</ion-footer>
