.cardpadding{
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 2%;
  background: white;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid rgba(0, 0, 111, 0.8);
} 
  
#palabra{
  color: black;
  padding-left: 20px;

}

#yellow{
  margin-top: 5%;
  height: auto;
  width: 100%;  
  color: white;
  background: rgb(255, 165, 0);
}


